.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;   /* GAP REDUCED */
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.nav-logo {
  font-size: 18px;
  font-weight: 600;
}

.nav-links {
  display: flex;
  gap: 28px; /* reduced gap */
  list-style: none;
  font-size: 14px;
  color: #333;
}

.nav-links li {
  cursor: pointer;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nav-menu span {
  width: 24px;
  height: 2px;
  background: black;
}

@media (max-width: 768px) {
  .nav-links { display: none; }
}